Package: com.ryu.remotecontrol
Name: RemoteControl
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ryunosuke.shibuya
Author: ryunosuke.shibuya
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
